body{
    margin: 0px;
    padding: 0px;
}
#logo{
    box-sizing: border-box;
    width: 203px;
    height: 184px;
    padding: 5px 4px;
    background-color: rgb(200 161 59);
}
#blank{
    background-color: rgb(139 139 139);
    width: 86.7%;
    position: absolute;
    box-sizing: border-box;
    left: 203px;
    top: 0px;
    height: 14%;
}
#blank pre{
    font-size: xxx-large;
    position: relative;
    font-family: 'Russo One', sans-serif;
    top: -17px;
    left: 25px;
}
#logo img {
    width: 195px;
    height: 150px;
}
#logo pre {
    width: 195px;
    background-color: black;
    color: azure;
    font-family: 'Russo One', sans-serif;
    color: rgb(200 161 59);
    margin-top: 1px;
}
.navbar li{
    float:left;
    list-style: none;
}
#nav{
    width: 86.3%;
    background-color: black;
    position: absolute;
    left: 201px;
    top: 97px;
    border: 3.5px solid rgb(200 161 59);
    height: 11%;
}
.btn{
    margin: 12px 2px;
    width: 142px;
    height: 62px;
    position: relative;
    border: 3px solid #7b7137;
    top: -20px;
    background-color: rgb(200 161 59);
    color: black;
    font-size: medium;
    left: -37px;
    cursor: pointer;
    border-radius: 186px;
    font-family: 'Russo One', sans-serif;
}
.btn:hover{
    background-color: #7b7137;
}
.text{
    border: 7px solid #b8a067b0;
    color: azure;
    font-family: 'Russo One';
    font-size: larger;
    box-sizing: border-box;
    width: 507px;
    border-radius: 50px;
    position: relative;
    padding: 0px -1px;
    top: 37px;
    padding-left: 46px;
    left: 64px;
}
.body{
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/692/659/618/man-workout-gym-working-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
}
.details{
    border: 8px solid #b8a067b0;
    width: 500px;
    position: relative;
    top: 128px;
    border-radius: 54px;
    right: -51px;
    height: 226px;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: azure;
    text-align: center;
}
.inputtext{
    margin: 4px 167px;
    position: relative;
    border: 4px solid gray;
    top: -9px;
    width: 157px;
    border-radius: 50px;
}
footer h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:azure;
}
footer pre{
    font-family:Arial, Helvetica, sans-serif;
    color:azure;
    font-weight: 700;
}
footer{
    width: 468px;
    position: relative;
    top: 245px;
    border-top: 4px solid #90885a;
    right: -56px;
}
#sub{
    cursor: pointer;
}
#sub:hover{
    background-color:gray ;
}
#fbtn{
    position: relative;
    left: 74px;
}